#---------------------------------------------------------------------
# git server haproxy configuration.
#---------------------------------------------------------------------

global
    maxconn     20000
    log         127.0.0.1 local0
    user        haproxy
    chroot      /usr/share/haproxy
    pidfile     /run/haproxy.pid
    daemon

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend flatpak_tindango
    bind *:80
    mode http

    acl is_git_tindango hdr(host) -i git.tindango
    use_backend git_tindango_backend if is_git_tindango

backend git_tindango_backend
    mode http
    option http-server-close
    option forwardfor

    server git_repo 127.0.0.1:8686
